/* Quote Section */
.quote-section {
    background-image: url(R.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 40px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem auto;
    max-width: 1200px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.quote-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.quote-text {
    flex: 1;
    text-align: left;
}

.quote-text h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 15px;
    color: #333;
}

.quote-form {
    display: flex;
}

.quote-form input {
    padding: 12px 15px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 26px 0 0 26px;    flex: 1;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    outline: none;
    transition: border-color 0.3s;
}

.quote-form input:focus {
    border-color: #87ceeb;
}

.quote-form button {
    padding: 12px 20px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 0px 26px 26px 0px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.quote-form button:hover {
    background-color: #555;
}